<div class="px-10 flex-1 h-[80%] overflow-y-auto">
  @if (checkoutProducts.length > 0) { @for (item of checkoutProducts; track
  $index) {
  <div class="flex my-4 justify-between items-center">
    <figure class="w-100 h-100 max-w-16 max-h-16">
      <img class="rounded-lg" [src]="item.images[0]" alt="" />
    </figure>
    <p class="text-s basis-2/5">{{ item.title | truncateWithEllipsis : stringTrimLenght }}</p>
    <span>{{ item.price | currency : "USD" }}</span>
    <ng-icon
      (click)="deleteProduct(item.id)"
      class="cursor-pointer"
      name="heroTrash"
    ></ng-icon>
  </div>
  } } @else {
  <p class="py-2 font-light">No Products in yet...</p>
  }
</div>
<div class="px-10">
  <div class="flex my-2 justify-between items-center">
    <p>Total:</p>
    <h5>{{ getTotalPrice() | currency : "USD" }}</h5>
  </div>
  <button
    (click)="onCheckout()"
    class="rounded-lg w-full p-4 bg-black text-white"
  >
    Checkout
  </button>
</div>
