<header class="fixed bg-white min-h-20 w-screen mx-auto z-30">
  <div class="flex items-center justify-center">
    <div class="flex items-center justify-between w-full py-5 max-w-[90%]">
      <nav class="flex items-center gap-3 text-lg font-light">
        <h2
          routerLink="/home"
          class="cursor-pointer text-3xl font-black tracking-tight mr-3"
        >
          ShopIt
        </h2>
        @for (category of categories(); track $index) {
        <a
          class="hidden md:block hover:underline"
          [routerLinkActive]="'underline'"
          [routerLink]="'category/' + category.id"
        >
          {{ category.name }}</a
        >
        }
      </nav>
      <nav class="flex items-center gap-3 text-l">
        <a class="hover:underline" routerLink="/orders">My Orders</a>
        @if (authOn) {
        <p>{{ "user@mail.com" }}</p>
        <a href="">My Account</a>
        <a href="">Sign Out</a>
        }
        <div class="flex cursor-pointer relative" (click)="openSidebar()">
          <ng-icon class="text-xl" name="heroShoppingBag"></ng-icon>
          <p>{{ productsNumber().length }}</p>
        </div>
        <div class="md:hidden flex justify-center items-center">
          <ng-icon
            (click)="toggleNavigation()"
            class="text-xl cursor-pointer"
            name="heroBars3"
          ></ng-icon>
        </div>
      </nav>
    </div>
  </div>
</header>

<div
  [@dropdown]="dropdown ? 'down' : 'up'"
  [ngClass]="{ 'pointer-events-none': !dropdown }"
  class="mt-[80px] w-full border-b-2 bg-white md:hidden fixed z-20"
>
  <nav (click)="toggleNavigation()" class="flex flex-col mx-auto max-w-[90%]">
    @for (category of categories(); track $index) {
    <a
      class="hover:underline mb-4"
      [routerLinkActive]="'underline'"
      [routerLink]="'category/' + category.id"
    >
      {{ category.name }}</a
    >
    }
  </nav>
</div>
