<header class="fixed bg-white min-h-20 w-screen mx-auto z-10">
  <div class="flex items-center justify-center">
    <div class="flex items-center justify-between w-full py-5 max-w-[90%]">
      <nav class="flex items-center gap-3 text-lg font-light">
        <h2 class="text-3xl font-black tracking-tight mr-3">ShopIt</h2>
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
      </nav>
      <nav class="flex items-center gap-3 text-l">
        <p>{{ "user@mail.com" }}</p>
        <a href="">My Orders</a>
        <a href="">My Account</a>
        <a href="">Sign Out</a>
        <i>Shop</i>
      </nav>
    </div>
  </div>
</header>
