<div>
  @defer (on viewport; prefetch on idle ) {
  <figure class="relative">
    <a (click)="selectProduct(product)">
      <img
        class="rounded-lg"
        [src]="product.images[0]"
        (error)="loadAltImg()"
        [alt]="product.title"
      />
    </a>
    <app-add-remove-btn
      [status]="isProductInCart()"
      (clicked)="onAddRemoveProduct(product)"
    ></app-add-remove-btn>
    <div
      class="absolute bottom-0 py-1 px-3 font-semibold rounded-xl bg-white bg-opacity-75 m-3"
    >
      <p>{{ product.category.name }}</p>
    </div>
  </figure>
  <div class="flex justify-between pt-2">
    <p>{{ product.title }}</p>
    <h4 class="font-black">{{ product.price | currency : "USD" }}</h4>
  </div>

  } @placeholder {
  <div class="flex justify-center items-center">
    <p>Loading...</p>
  </div>
  }
</div>
