<div
  class="flex justify-between items-center my-4 py-8 px-4 rounded-lg border-[1px] border-gray-300"
>
  <p>
    <span class="font-bold">Order:</span>
    {{ order.id }}
  </p>
  <p>
    <span class="font-bold">Made on:</span>
    {{ order.date | date : "mediumDate" }}
  </p>
  <p>
    <span class="font-bold">Total:</span>
    {{ getTotal() | currency : "USD" }}
  </p>
  <p>
    <span class="font-bold">{{ order.products.length }} </span> products
  </p>
  <ng-icon
    (click)="onRight()"
    class="cursor-pointer"
    name="heroChevronDoubleRight"
  ></ng-icon>
</div>
